*,
*::before,
*::after {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 25px;
}

body {
  padding: 0;
  margin: 0;
}

.homepage-banner {
  height: auto;
  width: 100vw;
  object-fit: cover;
}

.navigation-bar {
  height: 30px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.navigation-bar li {
  border: 1px solid black;
  margin: 10px;
  border: none;
  border-radius: 10px;
  letter-spacing: 1px;
  word-spacing: 3px;
}
.navigation-bar li:hover {
  background-color: lightgray;
  cursor: pointer;
}

.navigation-ele {
  text-decoration: none;
  color: black;
  padding: 15px;
  font-weight: 600;
}

.movie-details {
  display: grid;
  grid-template-columns: repeat(5, auto);
  row-gap: 20px;
  column-gap: 10px;
  width: 100vw;
  font-size: 0.5rem;
  text-align: center;
  padding: 10px;
}

.detail-movie {
  width: 100%;
}
.detail-pic {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.detail-overview {
  width: 100%;
  height: 100px;
  overflow: scroll;
}

.movies-list-button {
  display: flex;
  justify-content: space-around;
}
.movies-list-button button {
  padding: 10px;
  border: none;
  background-color: rgb(119, 102, 102);
  letter-spacing: 1px;
  border-radius: 5px;
  font-weight: 600;
}

.movies-list-button button:hover {
  background-color: lightgray;
  cursor: pointer;
}

.sort-button {
  display: flex;

  padding: 5px;
}
.sort-button button {
  padding: 10px;
  border: none;
  background-color: rgb(204, 119, 119);
  letter-spacing: 1px;
  border-radius: 5px;
  font-weight: 600;
  margin-left: 15px;
}

.sort-button button:hover {
  background-color: rgb(138, 71, 71);
  cursor: pointer;
}

#pages {
  font-size: 16px;
}
